<h1>Your country's popular tracks</h1>

<div class="tracks" *ngIf="topGeo.length > 0">
  <div *ngFor="let track of topGeo" class="feature-artist">
    <img [src]="track.image[3]['#text']" alt="">
    <div class="info">
      <h2>{{track.name}}</h2>
      <h3>{{track.artist.name}}</h3>
      <button (click)="searchTop(track.name)">Search tabs!</button>
    </div>
  </div>
</div>

<div class="tracks" *ngIf="topGeo.length <= 0">
  <div class="loader-wrap">
    <div class="loader"></div>
  </div>
</div>

<h1>World popular tracks </h1>

<div class="tracks" *ngIf="topTracks.length > 0">
  <div *ngFor="let track of topTracks" class="feature-artist">
    <img [src]="track.image[3]['#text']" alt="">
    <div class="info">
      <h2>{{track.name}}</h2>
      <h3>{{track.artist.name}}</h3>
      <button (click)="searchTop(track.name)">Search tabs!</button>
    </div>
  </div>
</div>

<div class="tracks" *ngIf="topTracks.length <= 0">
    <div class="loader-wrap">
      <div class="loader"></div>
    </div>
  </div>

<h1>World popular artists</h1>

<div class="tracks" *ngIf="topArtist.length > 0">
  <div *ngFor="let artist of topArtist" class="feature-artist">
    <img [src]="artist.image[3]['#text']" alt="">
    <div class="info">
      <h2>{{artist.name}}</h2>
      <button (click)="searchTop(artist.name)">Search tabs!</button>
    </div>
  </div>
</div>

<div class="tracks" *ngIf="topArtist.length <= 0">
    <div class="loader-wrap">
      <div class="loader"></div>
    </div>
  </div>